{% extends 'log_.html' %}
{% load staticfiles %}

                {% block contenido %}

                {% if user.is_authenticated %}

                    <meta http-equiv="REFRESH" content="0;url={% url 'home' %} ">

                {% else %}

                <!-- Aqui empieza el login -->
                <!-- Aqui empieza el login -->
                <!-- Aqui empieza el login -->
                <!-- Aqui empieza el login -->
                <div id="login-box" class="login-box visible widget-box no-border">
                  <div class="widget-body">
                    <div class="widget-main center">
                      <img class="logopub" src="{% static "assets/images/logo-PUB.png" %}">


                      <h2 class="header lighter naranja">
                        <!--i class="ace-icon fa fa-coffee green"></i-->
                        <strong>Sistema Validador de Formatos</strong>
                      </h2>

                      <div class="space-12"></div>

                      {% if form.errors %}
                      <div class="alert alert-danger">
                      <button type="button" class="close" data-dismiss="alert">
						<i class="ace-icon fa fa-times"></i>
                      </button>
                      <!-- {{ form.errors }} -->
                      <p>Existe un error en la combinación de <strong>Usuario/Contraseña</strong>, por favor revisalo e intenta nuevamente</p>
                      </div>
                      {% endif %}

                      <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
                        {% csrf_token %}
                        <label class="block clearfix"><strong>Usuario: </strong></label>
                        {{ form.username }}
                        <div class="space"></div>
                        <label class="block clearfix"><strong>Contraseña: </strong></label>
                        {{ form.password }}
                        <div class="space"></div>

                        <div class="clearfix">
                          <!--label class="inline">
                            <input type="checkbox" class="ace" />
                            <span class="lbl"> Recordarme</span>
                          </label-->

                          <button type="submit" class="width-55 pull-center btn btn-warning">
                            <!--i class="ace-icon fa fa-key"></i-->
                            <span class="bigger-110"><strong>Iniciar sesión</strong></span>
                            <input type="hidden" name="next" value="{{ next }}"/>
                          </button>
                        </div>

                        </fieldset>
                      </form>

                      <!--div class="social-or-login center">
                        <span class="bigger-110">Or Login Using</span>
                      </div -->

                      <div class="space-6"></div>

                      <div class="social-login center">
                        <img class="logosdsconescudo" src="{% static "assets/images/logo-SDS-cEscudo.png" %}">
                        <p>Paseo de la Sierra # 425 Col. Reforma, C.P. 86060 Villahermosa, Tabasco | <strong>Teléfono: </strong>(993) 3103700 ext 40030</p>
                      </div>
                    </div><!-- /.widget-main -->

                    <!---------------------------------------->
                    <!-- div class="toolbar clearfix" -->
                      <!--div>
                        <a href="#" data-target="#forgot-box" class="forgot-password-link">
                          <a href="#" class="forgot-password-link">
                          <i class="ace-icon fa fa-arrow-left"></i>
                          Olvidé mi contraseña
                        </a>
                      </div-->

                      <!--div>
                        <a href="#" data-target="#signup-box" class="user-signup-link">
                        <a href="{#% url 'signup' %#}" class="user-signup-link">
                          Registrarse
                          <i class="ace-icon fa fa-arrow-right"></i>
                        </a>
                      </div-->
                    <!--/div-->
                    <!---------------------------------------->
                  </div><!-- /.widget-body -->
                </div><!-- /.login-box -->
                <!-- Aqui termina el login -->
                <!-- Aqui termina el login -->
                <!-- Aqui termina el login -->
                <!-- Aqui termina el login -->


                <!-- Aqui empieza el recuperar contraseña -->
                <!-- Aqui empieza el recuperar contraseña -->
                <!-- Aqui empieza el recuperar contraseña -->
                <!-- Aqui empieza el recuperar contraseña -->
                <div id="forgot-box" class="forgot-box widget-box no-border">
                  <div class="widget-body">
                    <div class="widget-main">
                      <h4 class="header red lighter bigger">
                        <!--i class="ace-icon fa fa-key"></i-->
                        Recuperar contraseña
                      </h4>

                      <div class="space-6"></div>
                      <p>
                        Ingresa tu correo electrónico para recibir instrucciones
                      </p>

                      <form>
                        <fieldset>
                          <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                              <input type="email" class="form-control" placeholder="Email" />
                              <i class="ace-icon fa fa-envelope"></i>
                            </span>
                          </label>

                          <div class="clearfix">
                            <button type="button" class="width-35 pull-right btn btn-sm btn-warning">
                              <!--i class="ace-icon fa fa-lightbulb-o"></i-->
                              <span class="bigger-110">Enviar</span>
                            </button>
                          </div>
                        </fieldset>
                      </form>
                    </div><!-- /.widget-main -->

                    <div class="toolbar center">
                      <a href="#" data-target="#login-box" class="back-to-login-link">
                        Regresar al inicio
                        <i class="ace-icon fa fa-arrow-right"></i>
                      </a>
                    </div>
                  </div><!-- /.widget-body -->
                </div><!-- /.forgot-box -->

                <!-- Aqui termina el recuperar contraseña -->
                <!-- Aqui termina el recuperar contraseña -->
                <!-- Aqui termina el recuperar contraseña -->
                <!-- Aqui termina el recuperar contraseña -->

                {% endif %}

                {% endblock %}