{% extends 'base.html' %}
{% load staticfiles %}


{#% block head_printstuff %#}
{#% endblock %#}


{% block sidebar %}
{% endblock %}


{#% block breadcrumb_zone %#}
{#% endblock %#}


{% block settingsbox %}
{% endblock %}


{% block content %}
    <h2>Agregar registro de Padrón {{ trabajo.TipoPadron.nombrePadron }}</h2>
    <br />


    <form enctype="multipart/form-data" action="agregar" method="post" id="addrecord">
        {% csrf_token %}

            {% if formulario.errors %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>

                <strong>
                    <i class="ace-icon fa fa-times"></i>
                    ¡Error!
                </strong>
                Existen errores en el formulario, por favor corrigelos e intenta enviar nuevamente
                <br>
            </div>
            {% endif %}

            <div class="formulario">
                {% for campo in formulario.visible_fields %}
                    <!--li class="col-xs-4"-->
                    <li>
                        {{ campo.label_tag }}
                        {% if campo.errors %}
                            {{ campo.errors }}
                        {% endif %}
                        {{ campo }}
                    </li>
                {% endfor %}
                {% for hidden in formulario.hidden_fields %}
                {{ hidden }}
                {% endfor %}


            </div>

            <input type="submit" value="Guardar" class="btn btn-app btn-primary radius-4 align-center">
            </input>

    </form>
    <div class="space-12"></div>
{% endblock %}


{% block inlinescripts %}


{% endblock %}
